:root {
    --bg-color: #FFEEDC;
    --bg-color-section: #FFF5EB;
    --main-color: #FE001A;
    --section-color: #5D3D75;
    --border-radius: 0.4em;
    --white-color: #FFFFFF;
    --variety: #FFEEDC;
    --padding-sides: 9.9em; 
    --box-shadow: -3px 1px 10px #CFD4D1;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}

img {
    display: block;
    max-width: 100%;
}

.header {
    padding: 1.5em var(--padding-sides);
}

.title {
    color: var(--main-color);
    font-size: 2.5rem;
    margin: 0.6em 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.nav__item {
    border: 2px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 0.3em 1.8em;
    text-align: center;
    cursor: pointer;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.nav__item--order {
    background-color: var(--main-color);
    width: 160px;
}

.nav__link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--section-color);    
}

.nav__link--order {
    color: var(--white-color)
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1.5em 1.5em;
    }
}

@media screen and (max-width: 1200px) {
    .nav__item {
        width: 100%;
    }
}

/* menu main section */

.main-section {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 70% 28.7%;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.8em 1.3%;
    height: 350px;
    color: var(--white-color);
    padding: 0 var(--padding-sides);
    background-color: var(--bg-color-section);
    margin-bottom: 3em; 
    /* revisar margin */
}

.main-section__item:nth-of-type(1) {
    grid-row: 1 / -1;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.main-section__item:nth-of-type(2) {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

.main-section__item:nth-of-type(3) {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    
}

.main-section__item:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-section__item:nth-of-type(1) span {
    position: absolute;
    bottom: 40px;
    left: 60px;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--main-color);
}

.main-section__item.price p {
    font-size: 2.8rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .main-section {
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 1200px) {
    .main-section {
        display: block;
        height: unset;
    }

    .main-section__item {
        margin-bottom: 1em;
    }

    .main-section__item:nth-of-type(1) span {
        font-size: 2rem;
        left: 30px;
        bottom: 25px;
    }
}

.main-section__item.price span {
    font-size: 1.6rem;
}

.main-section__item:nth-of-type(2), .main-section__item:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
    padding: 1em;
}

/* variety */

.variety {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
    padding: 0 var(--padding-sides);
}

.variety__item {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 230px;
    width: 230px;
}

@media screen and (max-width: 768px) {
    .variety {
        padding: 0 1.5em;
    }
}

@media screen and (max-width: 1200px) {
    .variety {
        display: block;
    }

    .variety__item {
        width: 100%;
        margin: 0 auto 1em;
    }

}

@media screen and (min-width: 1585px) {
    .variety__item {
        width: 310px;
    }
}

.variety__item img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}


.variety__details {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
}

.variety__details h3 {
    color: var(--section-color);
}

.variety__details span {
    color: var(--main-color);
    font-weight: bold;
}

/* featured */

.featured {
    display: flex;
    box-sizing: var(--box-shadow);
    padding: 2em 0;
    margin: 0 var(--padding-sides) 2.5em;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--white-color);
}

.featured__img-container {
    width: 60%;
}

.featured__img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.featured__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 5em 2em 2em;
}

.featured__details p {
    font-size: 1.2rem;
    margin: 0.6em 0;
}

.featured__details a {
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--white-color);
    width: 125px;
    padding: 0.65em 0;
    text-align: center;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 768px) {
    .featured {
        margin: 0 1.5em 2.5em;;
    }

    .featured__details {
        padding-bottom: 0.5em;
    }
}

@media screen and (max-width: 1200px) {
    .featured {
        flex-direction: column;
    }

    .featured__img-container {
        width: 100%;
    }
}

/* specialties */

.specialties {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em var(--padding-sides);
    background-color: var(--white-color);
}

.specialties h2 {
    text-align: center;
    color: var(--section-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialties h2::before, .specialties h2::after {
    content: '';
    display: inline-block;
    width: 335px;
    height: 3px;
    margin: 0 15px;
    background-color: var(--main-color);
}

.specialties__images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.9em;
}

.specialties__images img {
    width: 7.5em;
    height: 7em;
    margin: 0.55em;
    border-radius: var(--border-radius);
}

@media screen and (max-width: 768px) {
    .specialties {
        padding: 1em 1.5em;
    }

    .specialties h2::before, .specialties h2::after {
        width: 80px;
    }    
}

/* footer */

.footer {
    text-align: center;
    color: var(--section-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.5em var(--padding-sides) 2em;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 1.5em 1.5em 2em;
    }
}